server:
  port: 8085
  servlet:
    context-path: /

spring:
  application:
    name: application experience
  main:
    allow-bean-definition-overriding: true
  security:
    oauth2:
      client:
        registration:
          keycloak:
            client-id: ${SSO_CLIENT_ID}
            client-secret: ${SSO_CLIENT_SECRET}
            scope: openid
            authorization-grant-type: authorization_code
        provider:
          keycloak:
            issuer-uri: ${SSO_SERVER_URL}/realms/${SSO_REALM_NAME}
            user-name-attribute: preferred_username
            token-uri: ${SSO_SERVER_URL}/realms/${SSO_REALM_NAME}/protocol/openid-connect/token
      resource-server:
        jwt:
          issuer-uri: ${SSO_SERVER_URL}/realms/${SSO_REALM_NAME}
###swagger
application:
  description: Application Experience
  version: 1.0
build.date: 2023-10-04
###Timeout api
rest:
  template:
    read: 30000
    connect: 30000

keycloak:
  enabled: true


#URL
url:
  novel-backend-service:
    author:
      create: ${NOVEL_BACKEND_SERVICE}/api/v1/authors/create
      paginate: ${NOVEL_BACKEND_SERVICE}/api/v1/authors/paginate
    chapter:
      create: ${NOVEL_BACKEND_SERVICE}/api/v1/chapters/create
      paginate: ${NOVEL_BACKEND_SERVICE}/api/v1/chapters/paginate
    novel:
      create: ${NOVEL_BACKEND_SERVICE}/api/v1/novels/create
      paginate: ${NOVEL_BACKEND_SERVICE}/api/v1/novels/paginate